/* miscellaneous */
body { 
	height: auto;
	min-height: 100%;
	overflow: visible;
	background: #f3f3f4;
	position: relative;
}

.m-b-custom { margin-bottom: 55px; }

.display-block { display: block !important; }

.top-navigation .wrapper.wrapper-content { padding: 40px 0px; }

.vertical-align { vertical-align: middle !important; }

.label-regular { font-weight: normal; }

/* installer */
.middle-box.installer-screen  { 
	max-width: 439px;
	padding-top: 0px;
}

.installer-screen {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.installer-screen .logo-wrapper { 
	position: relative; 
	max-width: 300px;
	margin: 0 auto 40px;
}

.installer-screen .logo-wrapper small {
	position: absolute;
	top: 70px;
	right: 80px;
	color: #CC181E;
}

.installer-screen .installer-message { margin-bottom: 70px; }


/* steps-wizard */
.steps-wizard .steps {
	list-style: none;
	padding: 0;
	margin: 0;
}

.steps-wizard .steps li { 
	display: inline-block; 
	width: 18%;
	margin: 0 0.5em 1.2em;
}
.steps-wizard .steps li:first-of-type { margin-left: 0px; }
.steps-wizard .steps li a {
	display: block;
	padding: 8px;
	border-radius: 5px;
	background: #eee;
	color: #aaa;
}
.steps-wizard .steps li.active a {
	background: #ed5565;
	color: #fdfdfd;
}

.steps-wizard .step-content {
	padding: 20px;
	margin-bottom: 1.2em;
	background: #eee;
}

.steps-wizard .step-content .center {
	width: 50%;
	margin: 0 auto;
}

.steps-wizard .step-content .table { background: #fdfdfd; }
.steps-wizard .step-content .table tr td { border-top: 1px solid #d6e9c6; }
.steps-wizard .step-content tr.error td { border-top: 1px solid #ebccd1; }

@media(max-width: 768px) {
	.steps-wizard .steps li { 
		width: 100%;
		display: block;
	}
	.steps-wizard .steps li:first-of-type { margin-left: 0.5em; }
}


/* footer */
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	/*margin-top: 15px;*/
	/*padding-bottom: 5px;*/
	text-align: center;
	background: #fdfdfd;
	border-top: 1px solid #eee;
}

@media(max-width: 768px) {
	footer { display: none; }
}